<!DOCTYPE html>
<html lang="zh-CN">
<link rel="stylesheet" type="text/css" href="{URL::media('public/css/bootstrap.min.css')}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<style type="text/css">
    h3{ margin:30 auto 15px }
    h4{ margin:75pt auto 15px }
    h4,h3,h5, p{ text-align:center }
    div{ margin-top:75pt;margin-bottom:75pt }
</style>

<body>
    <h3>Yafapp</h3>
    <hr />
    <h4>{$title|default:'温馨提示'}</h4>
    <h5>{$msg}</h5>

    {if isset($attribute)}
        {foreach $attribute as $val}
        <p>{$val}</p>
        {/foreach}
    {/if}
    <div class="btn-block text-center">
        <a class="btn btn-default btn" href="#"><<返回</a> &nbsp;
        <a class="btn btn-default btn" href="/">>>首页</a>
    </div>
</body>
</html>
