.panel-ept {
    border: none;
}

.area-box {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.area-box ul {
    border: 1px dashed #CCCCCC;
    padding: 6px;
    padding-right: 30px;
    padding-left: 40px;
    margin-bottom: 30px;
    border-radius: 3px;
}

.area-box li {
    line-height: 40px;
    width: 100%;
    list-style: inherit;
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
}

.area-box i {
    cursor: pointer;
}

.area-box .float-right {
    display: block;
}

.hover-li {
    background-color: #FFFFE0;
    border-radius: 10px;
}

el { font-size: 12px; color: #CCCCCC; padding-right: 15px; }

.administer-nav { position:fixed; right: 0px; width: 200px; left: 10px; z-index: 999; bottom: 10px; }

.administer-nav select { height: 220px; background-color: #CCCCCC; border-radius: 10px; }