<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <title>yafapp Test</title>
    </head>

<style type="text/css">
    
    li { line-height: 30px;  }

</style>
    <body>

        <ul>
            <li>View</li>
            <ul>
                <li><a href="/test/view/autorender">auto render</a></li>
                <li><a href="/test/view/render">render</a></li>

                <li><a href="/test/view/json">json</a></li>
                <li><a href="/test/view/xml">xml</a></li>
            </ul>

            <li>Wdiget</li>
            <ul>
                <li><a href="/test/widget/index">widget</a></li>
            </ul>

            <li>Task/Cli</li>
            <ul>
                <li><a href="/test/Task/index">Task/Cli</a></li>
            </ul>
            

        </ul>
      
    </body>
</html>
